.button {
  @apply bg-blue text-gray-0 h-11 px-6 rounded font-medium;
  transition: all .2s;
}

.button:hover {
  @apply shadow-blue;
  transition: all .2s;
}

.button:active {
  @apply bg-blue-80 shadow-none;
  transition: all .1s;
}

.button-secondary {
  @apply bg-gray-0 text-blue border border-blue-40;
}

.button-secondary:hover {
  @apply shadow-blue-light;
}

.button-secondary:active {
  @apply shadow-none text-blue-80 border-blue-80 bg-gray-0;
}

.button--success {
  @apply bg-green;
}

.button--success:hover {
  @apply shadow-green;
}

.button--success:active {
  @apply shadow-none bg-green-80;
}
  
  .button--danger {
    @apply bg-red;
  }
  
  .button--danger:hover {
    @apply shadow-red;
  }
  
  .button--danger:active {
    @apply shadow-none bg-red-80;
  }
  
  .button-secondary--success {
    @apply bg-gray-0 text-green border border-green;
  }
  
  .button-secondary--success:hover {
    @apply shadow-green-light;
  }
  
  .button-secondary--success:active {
    @apply shadow-none border-green-80 text-green-80 bg-gray-0;
  }
  
  .button-secondary--danger {
    @apply bg-gray-0 text-red border border-red;
  }
  
  .button-secondary--danger:hover {
    @apply shadow-red-light border-red-40;
  }
  
  .button-secondary--danger:active {
    @apply shadow-none border-red-80 text-red-80 bg-gray-0;
  }