.container-fluid {
  @apply mx-auto px-4;
}

.wide-container-fluid {
  @apply mx-auto px-4;
  max-width: 103rem;
  min-width: 46rem;
}

.grid {
  @apply flex flex-wrap -mx-2;
}

.grid .column {
  @apply px-2;
}

@screen sm {
  .container-fluid, .wide-container-fluid {
    @apply px-6;
  }
  .grid {
    @apply -mx-3;
  }
  .grid .column {
    @apply px-3;
  }
}

@screen lg {
  .container-fluid, .wide-container-fluid {
    @apply px-8;
  }
  .grid {
    @apply -mx-4;
  }
  .grid .column {
    @apply px-4;
  }
}

@screen xl {
  .container-fluid {
    @apply px-6;
    max-width: 78rem;
  }
  .wide-container-fluid {
    @apply px-6;
  }
  .grid {
    @apply -mx-6;
  }
  .grid .column {
    @apply px-6;
  }
}