/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;
@import "https://cloud.typography.com/6388896/7231212/css/fonts.css";

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body {
  @apply font-sans text-gray bg-gray-0 leading-default antialiased;
}

h1 {
  @apply text-xxxl font-normal mb-6 text-gray-100;
}

h2 {
  @apply text-xxl font-normal my-6 text-gray-100;
}

h3 {
  @apply text-xl font-normal my-4 text-gray-100;
}

h4 {
  @apply text-medium font-normal my-3 text-gray-100;
}

.small {
  @apply text-small text-gray py-2 text-gray-80;
}

.caption {
  @apply text-xs py-1 text-gray-80;
}

.actioncard {
  @apply bg-gray-20 p-4 mb-6 h-64 flex items-center justify-center;
}

.container-fluid {
  @apply mx-auto px-4;
}

.grid {
  @apply flex flex-wrap -mx-2;
}

.grid .column {
  @apply px-2;
}

@screen sm {
  .container-fluid {
    @apply px-5;
  }
  .grid {
    @apply -mx-3;
  }
  .grid .column {
    @apply px-3;
  }
}

@screen lg {
  .container-fluid {
    @apply px-8;
  }
  .grid {
    @apply -mx-4;
  }
  .grid .column {
    @apply px-4;
  }
}

@screen xl {
  .container-fluid {
    @apply px-6;
    max-width: 1248px;
  }
  .grid {
    @apply -mx-6;
  }
  .grid .column {
    @apply px-6;
  }
}

.button {
  @apply bg-blue text-gray-0 h-11 px-6 rounded font-medium;
  transition: all .2s;
}

.button:hover {
  @apply shadow-blue;
  transition: all .2s;
}

.button:active {
  @apply bg-blue-80 shadow-none;
  transition: all .1s;
}

.button-secondary {
  @apply bg-gray-0 text-blue border border-blue-40;
}

.button-secondary:hover {
  @apply shadow-blue-light;
}

.button-secondary:active {
  @apply shadow-none text-blue-80 border-blue-80 bg-gray-0;
}

.button--success {
  @apply bg-green;
}

.button--success:hover {
  @apply shadow-green;
}

.button--success:active {
  @apply shadow-none bg-green-80;
}

.button--danger {
  @apply bg-red;
}

.button--danger:hover {
  @apply shadow-red;
}

.button--danger:active {
  @apply shadow-none bg-red-80;
}

.button-secondary--success {
  @apply bg-gray-0 text-green border border-green;
}

.button-secondary--success:hover {
  @apply shadow-green-light;
}

.button-secondary--success:active {
  @apply shadow-none border-green-80 text-green-80 bg-gray-0;
}

.button-secondary--danger {
  @apply bg-gray-0 text-red border border-red;
}

.button-secondary--danger:hover {
  @apply shadow-red-light border-red-40;
}

.button-secondary--danger:active {
  @apply shadow-none border-red-80 text-red-80 bg-gray-0;
}

input[type="text"] {
  @apply border-gray-20 px-3 h-11 border rounded my-2 text-gray font-normal;
}

input[type="text"]:focus {
  @apply border-blue shadow-focus outline-none;
}

input::placeholder {
  @apply text-gray-60 font-normal;
}

input[disabled] {
  @apply border border-gray-20 bg-gray-10 text-gray-60;
}

label {
  @apply text-gray font-normal;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
